body {
  margin: 0;
  background-color: var(--beige);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --red_color: #ec7575;
  --yellow_color: #dec56b;
  --white_color: #fcfcfc;
  --black: #0a0a0a;
  --rosas: #F1E9D5;
  --brown: #413029;
  --yellow: #f1cd60;
  --beige: #d7cab8;
  --blue: #445f84;
  --gray: #e6e6e6;
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow) !important;
  width: 16px !important;
  border-radius: 6px !important;
  transition: 0.3s !important;
}
ul {
  list-style: none !important;
  padding: 0;
}
a {
  color: unset;
  text-decoration: none;
}
