body {
  margin: 0;
  background-color: var(--beige);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --red_color: #ec7575;
  --yellow_color: #dec56b;
  --white_color: #fcfcfc;
  --black: #0a0a0a;
  --rosas: #f1e9d5;
  --brown: #413029;
  --yellow: #f1cd60;
  --beige: #d7cab8;
  --blue: #445f84;
  --gray: #e6e6e6;
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow) !important;
  width: 16px !important;
  border-radius: 6px !important;
  transition: 0.3s !important;
}
ul {
  list-style: none !important;
  padding: 0;
}
a {
  color: unset;
  text-decoration: none;
}

.scrollTop {
  position: fixed;
  bottom: 10px;
  right: 15px;
  border: 0;
  background: transparent;
}
.scrollTop svg {
  width: 3rem;
  height: 3rem !important;
  fill: var(--blue);
}
.scrollTop:hover {
  animation: bounce 0.8s infinite;
}
@keyframes bounce {
  0% {
    bottom: 10px;
  }
  60% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
